* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
    font-family: 'Inter', sans-serif;
}

html {
    max-width: 100%;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

input {
    font-size: 1rem;
}

body {
    max-width: 100%;
    background-image: url('sea.jpg');
    background-repeat: no-repeat;
    background-color: #224F98;
}

.modal {
    background-color: #202325;
    color: aliceblue;
    margin: 1rem;
    padding: 1rem;
}

header {
    width: 100%;
    position: fixed;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
}

header a {
    color: aliceblue;
}

main {
    height: 80vh;
}

footer {
    width: 100%;
    background-color: #141820;
    color: aliceblue;
    padding: 1rem;
}